div {
  width: 300px;
  height: 200px;
  background-color: black;
  background-image: url('https://cdn-icons-png.flaticon.com/512/732/732212.png');
  background-repeat: space;
  background-size: 25%;
}
